{% extends 'partials/base.html' %}

{% block content %}
    <div class="card" width="25rem">
        <div class="card-body">
            <h1>Are you sure to delete project <i>"{{ project.name }}"</i>?</h1>
            <form action="{% url 'project_delete' project.pk %}"method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-success">Confirm</button>
                <a href="{% url 'project_detail' project.pk %}" class="btn btn-light">Cancel</a>
            </form>
        </div>
    </div>
{% endblock %}