{% extends 'partials/base.html' %}

{% block content %}
<div class="card mb-5">
  <div class="card-body">
    <h5 class="card-title">{{ project.name }}</h5>
    <p class="grey_font" style="font-size: 10px;"><b>Created date:</b> {{ project.created_at }}</p>
    <p class="grey_font" style="font-size: 10px;"><b>Updated date:</b> {{ project.updated_at }}</p>
    <p class="card-text">{{ project.description }}</p>
    <h5>Assigned Users:</h5>
    <ul>
    {% for user in assigned_users %}
        <li>{{ user.username }}</li>
    {% endfor %}
    </ul>

    <h5>Tasks in project:</h5>
    <ol class="list-group-numbered">
      {% for task in tasks %}
        <li class="list-group-item mb-2"><a href="{% url 'task_detail' task.pk%}">{{ task.title }} </a>
          <div><i>Status: {{ task.status }}</i></div>
        </li>
      {% endfor %}
    </ol>
    {% if user in assigned_users and perms.projects.change_project %}
      <a href="{% url 'project_update' project.pk %}" class="btn btn-primary">Edit</a>
    {% endif %}
    {% if user in assigned_users and perms.projects.delete_project%}
      <a href="{% url 'project_delete' project.pk %}" class="btn btn-danger">Delete</a>
    {% endif %}
  </div>
</div>


{% endblock %}

{% block js %}
  <script></script>
{% endblock %}