{% extends 'partials/base.html' %}
{% load static %}

{% block content %}
  {% include 'partials/search.html' %}

  <div class="w-25 mb-3">
    <form method="GET" class="d-flex align-items-center">
        <select name="sort_by" class="form-select form-select-sm me-1" id="sort_by">
            <option value="" selected disabled>Select</option>
            <option value="name">Name</option>
            <option value="created_at">Created at</option>
        </select>
        <button type="submit" class="btn btn-outline-dark btn-sm">Sort</button>
    </form>
  </div>


  <div class="list-group mt-3">
      {% for project in projects %}
        <div class="d-flex">
          <a href="{% url 'project_detail' project.pk %}" class="list-group-item list-group-item-action">
            <span>{{ project.id }}.</span>
            <b style="color: blue;">{{ project.name }}</b>
            <p><b>Created date: </b>{{ project.created_at }}</p>
          </a>
        </div>
      {% endfor %}
  </div>
  
  {% include 'partials/pagination.html' %}
{% endblock %}