{% extends 'partials/base.html' %}

{% block content %}
    <h1>Edit project</h1>

    <form action="{% url 'project_update' project.pk %}" method="POST">
        {%include 'partials/create_update_form.html' with button_text="Edit"%}        
    </form>
{% endblock %}
