<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container">
      <a class="navbar-brand" href="{% url 'home_page' %}">
          <img src="https://static.vecteezy.com/system/resources/previews/003/529/153/large_2x/business-to-do-list-flat-icon-modern-style-vector.jpg" alt="" height="40">
          MyBLOG
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
          <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="{% url 'home_page' %}">Home</a>
              <a class="nav-link active" aria-current="page" href="{% url 'project_list' %}">Project list</a>
              <a class="nav-link active" aria-current="page" href="{% url 'project_create' %}">Add project</a>
              <a class="nav-link active" aria-current="page" href="{% url 'task_list' %}">Task list</a>
              <a class="nav-link active" aria-current="page" href="{% url 'task_create' %}">Add task</a>
          </div>
          <div class="d-flex">
            {% if not request.user.is_authenticated %}
            <a class="btn btn-outline-success btn-sm me-3" aria-current="page" href="{% url 'login' %}?next={{ request.get_full_path }}">Login</a>
            <a class="btn btn-outline-secondary btn-sm" aria-current="page" href="{% url 'register' %}?next={{ request.get_full_path }}">Register</a>
            {% else %}
                <div class="d-flex align-items-center me-3">
                    Hello, <a href="{% url 'user_detail' user.pk %}">{{ user.username }}</a>!
                </div>
                <a class="btn btn-outline-danger btn-sm" aria-current="page" href="{% url 'logout' %}?next={{ request.get_full_path }}">Logout</a>
            {% endif %}
          </div>
      </div>
  </div>
</nav>