{% if is_paginated %}
    {% include 'partials/pagination.html' %}
{% endif %}

{% for task in tasks %}
    <div class="box">
        <h3><a href="{% url 'project_detail' project.pk %}">{{ post.title }}</a></h3>

        <div>
            <a href="{% url 'user_detail' project.user_id %}">{{ post.author }}</a>
            | {{ project.created_at|date:"d.m.Y H:i:s" }}
        </div>
        <div>Updated at: {{ project.updated_at|date:"d.m.Y H:i:s" }}</div>
        
        {% if perms.projects.change_project or project.user == request.user %}
            <div><a href="{% url 'project_update' project.pk %}">Update</a></div>
        {% endif %}
        {% if perms.projects.delete_project or project.user == request.user %}
            <div><a href="{% url 'project_delete' project.pk %}">Delete</a></div>
        {% endif %}
    </div>
{% empty %}
    <h2 class="text-center">No projects</h2>
{% endfor %}

{% if is_paginated %}
    {% include 'partials/pagination.html' %}
{% endif %}