{% if not fields_only %}
    <form action="{{ action_url }}" method="{{ form_method }}" enctype="multipart/form-data" class="w-50">
        {% csrf_token %}
{% endif %}


        {% for error in form.non_field_errors %}
            <p class="text-danger">{{ error }}</p>
        {% endfor %}

        {% for field in form %}
            <div class="input-group mb-3">
                <span class="input-group-text">{{ field.label }}</span>
                {{ field }}

                {% for error in field.errors %}
                    <p class="text-danger">{{ error }}</p>
                {% endfor %}
            </div>
        {% endfor %}


{% if not fields_only %}
        <button type="submit" class="btn btn-primary">{{ button_text|default:"Submit" }}</button>
    </form>
{% endif %}