{% extends 'partials/base.html' %}

{% block title %}Profile Edit{% endblock %}

{% block user_menu %}
    <a href="{% url 'user_detail' user_obj.pk %}" class="btn btn-outline-primary">Back</a>
{% endblock %}


{% block content %}
    <h1>Profile edit</h1>
    <form action="{% url 'user_edit' %}" method="POST" enctype="multipart/form-data" class="w-50">
        {% csrf_token %}
        {% include 'partials/user_forms.html' with form=form fields_only=True %}
        {% include 'partials/user_forms.html' with form=profile_form fields_only=True %}
        <button type="submit" class="btn btn-primary">Edit</button>
    </form>

{% endblock %}