{% extends 'partials/base.html' %}
{% load static %}

{% block title %}User`s profile{% endblock %}

{% block user_menu %}
    <a href="{% url 'user_edit' %}" class="btn btn-outline-primary">Edit profile</a>
    <a href="{% url 'password_change' %}" class="btn btn-outline-primary">Change password</a>
{% endblock %}


{% block content %}
    <h1>{{ user_obj.get_full_name|default:user_obj.username }}</h1>
    <div class="mb-5">
        {% if user_obj.profile.avatar %}
            <img src="{{ user_obj.profile.avatar.url }}" alt="" class="avatar">
        {% else %}
            <img src="{% static 'images/image_01.jpeg' %}" alt="" class="avatar" width="150">
        {% endif%}

        <div class="card w-50" style="border-color: white;">
            <p><b>Username:</b> {{ user_obj.username }}</p>
            <p><b>First name:</b> {{ user_obj.first_name }}</p>
            <p><b>Last name:</b> {{ user_obj.last_name }}</p>
            <p><b>Birth date: </b>{{ user_obj.profile.birth_date|date:"d.m.y" }}</p>
            <p><b>Email:</b> {{ user_obj.email }}</p>
            <p><b>Position:</b> {{ user_obj.profile.position }}</p>
            <p><b>Phone number:</b> {{ user_obj.profile.phone }}</p>
        </div>
    </div>

    <h2 class="text-center">User`s projects:</h2>
    {% include 'partials/project_list.html' %}

{% endblock %}