{% extends 'partials/base.html' %}

{% block content %}
    <h1>Create task</h1>

    <form action="{% url 'task_create' %}" method="POST">
        {% include 'partials/create_update_form.html' with button_text="Create" %}        
    </form>
{% endblock %}
