{% extends 'partials/base.html' %}

{% block content %}
    <div class="card" width="25rem">
        <div class="card-body">
            <h1>Are you sure to delete task <i>"{{ task.title }}"</i>?</h1>
            <form action="{% url 'task_delete' task.pk %}"method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-success">Confirm</button>
                <a href="{% url 'task_detail' task.pk %}" class="btn btn-light">Cancel</a>
            </form>
        </div>
    </div>
{% endblock %}