{% extends 'partials/base.html' %}

{% block content %}
<div class="card mb-5">
  <div class="card-body">
    <h5 class="card-title">{{ task.title }}</h5>
    <h6 class="card-text">Project name: <i>{{ task.projects.name }}</i></h6>
    <h6 class="card-text">Status: {{ task.status }}</h6>
    <p class="grey_font" style="font-size: 10px;">{{ task.created_at }}</p>
    <p class="card-text">{{ task.description }}</p>
    <h5>Assigned Users:</h5>
    <ul>
    {% for user in assigned_users %}
        <li>{{ user.username }}</li>
    {% endfor %}
    </ul>
    {% if user in task.projects.users.all and perms.todo_list.change_task %}
      <a href="{% url 'task_update' task.pk %}" class="btn btn-primary">Edit</a>
    {% endif %}
    {% if user in task.projects.users.all and perms.todo_list.delete_task  %}
      <a href="{% url 'task_delete' task.pk %}" class="btn btn-danger">Delete</a>
    {% endif %}
  </div>
</div>


{% endblock %}

{% block js %}
  <script></script>
{% endblock %}