{% extends 'partials/base.html' %}
{% load static %}

{% block content %}
  {% include 'partials/search.html' %}

  <div class="w-25 mb-3">
    <form method="GET" class="d-flex align-items-center">
        <select name="sort_by" class="form-select form-select-sm me-1" id="sort_by">
            <option value="" selected disabled>Select</option>
            <option value="title">Title</option>
            <option value="status">Status</option>
            <option value="created_at">Created at</option>
        </select>
        <button type="submit" class="btn btn-outline-dark btn-sm">Sort</button>
    </form>
  </div>


  <div class="list-group mt-3">
      {% for task in tasks %}
        <div class="d-flex">
          <a href="{% url 'task_detail' task.pk %}" class="list-group-item list-group-item-action">
            <span>{{ task.id }}.</span>
            <b style="color: blue;">{{ task.title }}</b>
            <h6 style="color: green;">Project: {{ task.projects }}</h6>
            <i class="ml-auto p-2">Status: {{task.status}}</i>
            <tr class="{% if task.status == 'В ожидании' %}status-pending{% elif task.status == 'В процессе' %}status-in-progress{% elif task.status == 'Выполнено' %}status-completed{% endif %}">
              <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="{% if task.status == 'В ожидании' %}0{% elif task.status == 'В процессе' %}50{% elif task.status == 'Выполнено' %}100{% endif %}" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar" style="width: {% if task.status == 'В ожидании' %}0{% elif task.status == 'В процессе' %}50{% elif task.status == 'Выполнено' %}100{% endif %}%"></div>
              </div>
            </tr>
            <p><b>Created date: </b>{{ task.created_at }}</p>
          </a>
        </div>
      {% endfor %}
  </div>
  
  {% include 'partials/pagination.html' %}
{% endblock %}