{% extends 'partials/base.html' %}

{% block content %}
    <h1>Edit task</h1>

    <form action="{% url 'task_update' task.pk %}" method="POST">
        {%include 'partials/create_update_form.html' with button_text="Edit"%}        
    </form>
{% endblock %}
